.pokedex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 16px;
}

.mini-card {
  display: flex;
  flex-direction: column;

  width: 245px;
  height: 360px;
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--card-color);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 12px;
}

.card-img-container {
  width: 100%;
  height: 245px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;

  object-fit: cover;
  display: block;
}

.card-footer {
  padding: 0 12px 16px 12px;
  margin-top: 38px;
}

.type-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

/* DIALOG */

.pokemon-dialog {
  border: none;
  padding: 0;
  background: transparent;

  border-radius: 16px;

  /* DIALOG zentrieren  */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dialog-card {
  display: flex;

  gap: 16px;
  width: 800px;
  height: 450px;

  border-radius: 16px;
  padding: 8px;

  background-color: var(--card-color);
}

.pokemon-dialog::backdrop {
  background-color: rgba(142, 200, 173, 0.5);
}

.dialog-left-side {
  width: 45%;
}

.dialog-right-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  flex: 1;
}

.dialog-left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(235, 235, 235);
  padding: 16px;

  border-radius: 16px;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.close-btn {
  background-color: var(--secondary-color);
  border-radius: 100%;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.dialog-tabs {
  display: flex;
  justify-content: center;

  width: 100%;
  gap: 6px;
}

.tab-btn {
  width: 120px;
  cursor: pointer;
}

.tab-btn.active {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.dialog-tab-content {
  flex: 1;
  padding: 0 16px 16px 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pokemon-info-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-row {
  display: flex;
}

.info-label {
  width: 120px;
}

.type-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  padding: 4px 12px;
  border-radius: 999px;

  font-size: 12px;
  text-transform: uppercase;
}

.type.grass {
  background-color: #7ac74c;
}

.type.fire {
  background-color: #ee8130;
}

.type.water {
  background-color: #6390f0;
}

.type.poison {
  background-color: #a33ea1;
}

.type.electric {
  background-color: #f7d02c;
}

.type.normal {
  background-color: #a8a77a;
}
